@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
    --primary-color:#0E94B0;
    --secondry-color:#E14C4D;
    --orange:#F38A3C;
    --white:#fff;
    --black:#000;
}

 h3{
    font-family: lato;
    font-size: 20px;
    font-weight: 600;
  }
  
p{
    font-family: lato;
    font-size: 16px;
    text-align: justify;
  }
