* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Top tsts*/
.test-card {
  background-color: #e9f4ff; /* Light blue background */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.test-card h5 {
  text-align: center;
  font-weight: 700;
  color: #1b2a49; /* Dark blue color */
}

.test-card ul {
  list-style-type: none;
  padding: 0;
}

.test-card ul li {
  padding: 5px 0;
  color: #1b2a49; /* Dark blue color */
}

/* Responsive CSS: */

/* Responsive padding for Program Curriculum mobile */
@media (max-width: 767px) {
  .test-card {
      padding: 15px;
  }
}

/* top tests */

/* diagnostic_testing */
.diagnostic_testing {
  padding: 50px 15px;
  border-radius: 15px;
}
.testing_content {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.testing_content:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.testing_content h3 {
  font-family: lato;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.testing_content p {
  font-size: 16px;
  font-family:lato;
}
/* diagnostic_testing */

/* Testimonial Section */
.testimonial {
  border-radius: 8px;
  margin: 0 auto;
  }
  
  .testimonial h3 {
    font-family: lato;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  }
  
  .testimonial .text {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  text-align: justify;
  }
  
  .testimonial .text .dots {
  font-weight: bold;
  }
  
  .testimonial .text .more {
  display: none;
  }
  
  .testimonial .readMoreBtn {
  padding: 12px 20px;
  font-size: 16px;
  background-color: inherit;
  border-radius: inherit;
  cursor: inherit;
  transition: inherit;
  color: inherit;
  }
  
  .testimonial img {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
   .testimonial h3 {
    font-size: 1.5rem;

  }
  
  .testimonial .text {
    font-size: 0.95rem;
  }
  }



/* section info one start*/
#detail .content-block {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#detail figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s ease;
}

#detail img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

#detail figure:hover img {
  transform: scale(1.1);
}

#detail figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

#detail figure:hover figcaption {
  opacity: 1;
}

#detail h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

#detail .shadow {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@media (max-width: 575px) {
  #detail h3 {
    font-size: 14px;
  }
}
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .details .content-block {
      margin-bottom: 20px;
    }
  
    .details figcaption {
      padding: 10px;
    }
  
    .details figcaption h3 {
      font-size: 18px;
    }
  
    .details .col-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  /* section info one end*/

  /* fixed backgrou d */
  .fixed-background {
    width: 100%;
    height: 100vh;
    background-image: url('/image/header/fixed-backgrounnd.jpg');
    background-position: top; /* Center the background image */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    .fixed-background {
        background-attachment: scroll; /* Change to scroll on smaller screens to avoid issues */
        background-position: center; /* Ensure the image is centered */
    }
}

/* consultation */

.consultation h3{
  font-family: lato;
  font-size: 20px;
  font-weight: 600;
}

.consultation p{
  font-family: lato;
  font-size: 16px;
}


/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(1, 167, 157, 0.8), rgba(1, 167, 157, 0.8)), url('/image/pictures/bottom_fixed.png') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
/* Bottom Section */
.bottom {
    background: linear-gradient(135deg, #272262, #01A79D); /* Gradient background */;
}
.headline {
    padding: 50px;
    color: #fff;
}
.headline p{
    text-align: left;
}
.bottom-form button{
    background-color:white;
}
.bottom-form button:hover{
    background-color: var(--secondary-color);
    color:white;
}
.bottom-form .back{
    padding: 50px 80px 50px 80px;
    color: #fff;
    font-weight: 600;
    background-color: #01A79D;
}

/* fixed button */
.fixed-buttons{
  position: fixed;
  right: -1px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fixed-buttons img{
  width: 50px;
}

/* enquiry form */
.gmap {
  border-radius: 28px;
  padding: 30px;
  margin: 20px auto;
}

.map {
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.book_service{
  font-family: poppins;
  font-size: 45px;
}
@media (max-width: 768px) {
  .gmap {
    padding: 10px;
  }

  .map, .form-container {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
  }
}

/* enquiry form */


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



/* service page css start */
.service_img_container {
  height: 400px; /* Set the height as needed */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_img_container img {
  height: 100%;
  object-fit: cover;
}


.service_img_container{
  margin-right: -150px;
  clip-path: circle(72.6% at 85% 60%);
}


/* Waht makes us differnt */

.different 
{
  background-color:whitesmoke;
}  

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color:var(--primary-color);
  text-align: center;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding-left: 20px;

}

li {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
  color:var(--secondry-color);
}

li + p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-top: -10px;
  margin-bottom: 20px;
  line-height: 1.5;
}


/* ================contact page css =======================*/
.contact-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 60px 0;
  text-align: center;
}

.contact-header h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.contact-header p {
  font-size: 1.2rem;
  text-align: center;
}

.section-title {
  text-align: center;
  margin: 40px 0;
  color: var(--primary-color);
}

.contact-info {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 1rem;

}

.contact-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contact-form .btn-primary {
  background-color: var(--secondry-color);
  border: none;
  transition: background-color 0.3s ease;
}

.contact-form .btn-primary:hover {
  background-color: var(--primary-color);
}

.map-section iframe {
  border: 0;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


/* gallery part */